* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-image: linear-gradient(120deg, lightblue, hotpink);
  color: white;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: white;
  color: black;
}

form button {
  color: hotpink;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: lightblue;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}
.complete-btn {
  background-color: limegreen;
}
.trash-btn {
  background-color: maroon;
}
.todo-item {
  padding: 0rem 0.5rem;
}
.trash-btn,
.complete-btn {
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
